<link rel="stylesheet" href="\stylesheets\singleGame.css">
<div class="container cardList">

<div class="card bg-dark text-white" style="width: 18rem;">
  <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush text-white">
    <li class="list-group-item bg-dark text-white"> Min Players:
      {{min_players}}</li>
    <li class="list-group-item bg-dark text-white">Max Players:
      {{max_players}}</li>
    <li class="list-group-item bg-dark text-white">Can play game in
      {{duration}}
      hours</li>
    <li class="list-group-item bg-dark text-white">
      Age Rating:
      {{age_rating}}
      yrs old</li>

  <div class="card-body">
      <h3 class="catHeader">Game Categories: </h3>
{{#each categories}}
    <li> 
        {{category_name}}</li>
 {{/each}}
  </ul>
  </div>
</div>
</div>