//NO IDEA IF THIS WORKS YET

<section>
  <h2>Create New Game</h2>

  <form class="new-game-form">
    <div>
      <label for="game-name">Name:</label>
      <input type="text" name="game-name" id="game-name" />
    </div>
    <div>
      <label for="game-description">Description:</label>
      <textarea name="game-description" id="game-description"></textarea>
    </div>
    <div>

      <label for="game-min-player">Minimum number of players:</label>
      <select name="game-min-player" id="game-min-player">
        {{#each min-player}}
          <option value="{{min-player}}">{{min-player}}</option>
          {{! HARDCODE HARDCODE INSTEAD }}
        {{/each}}
      </select>
    </div>
    <div>
      <label for="game-max-player">Maximum number of players:</label>
      <select name="game-max-player" id="game-min-player">
        {{#each max-player}}
          <option value="{{max-player}}">{{max-player}}</option>
          {{! HARDCODE INSTEAD  }}
        {{/each}}
      </select>
    </div>
    <div>
      <label for="game-duration">How long the game takes to play:</label>
      <select name="game-duration" id="game-duration">
        {{#each duration}}
          <option value="{{duration}}">{{duration}}</option>
          {{! HARDCODE INSTEAD }}
        {{/each}}
      </select>
    </div>
    <div>
      <label for="game-age-rating">What age range is appropriate for this game:</label>
      <select name="game-age-rating" id="game-age-rating">
        {{#each age-rating}}
          <option value="{{age-rating}}">{{age-rating}}</option>
          {{! HARDCODE INSTEAD  }}
        {{/each}}
      </select>
    </div>
    {{! category - model w/checkboxes }}
  </form>
  <button type="submit">Submit new game</button>
</section>